.testing {
	display: flex;
	justify-content: center;
}

h1 {
	font-weight: 400;
}

.example {
	color: #FF7E00;
	width: wrap-content;
}

.notes {
	background: #ececec;
	opacity: .8;
	padding: 10px;
	margin: auto;
}

h2 {
	width: auto;
}

button {
	background: #FF7E00;
	border:none;
}

.MathJax {
	display: inline!important;
}

.alert-danger {
	background: #FF7E00;
	padding: 20px;
}


.step {
	margin: 10px;
}
