body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to right, #dfe9f3 0%, white 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
